@import "variables.scss";
@import "mixins.scss";


/*===============STYLE CODE================*/
  
.links-blog{
    .h5{
        font-size: 16px;
    }
}
.card-body-icon{
    position: absolute;
}
.card-body .dropdown {
    max-width: 200px;
}




 
















/*===============================================*/

@import "responsive.scss";