@import "variables.scss";
@import "mixins.scss";


/*================GLOBAL STYLESHEET=================*/
:focus {
    outline: none !important;
}
 
/*-----------------------------------*/
img {
    max-width: 100%;
}

[type="submit"] {
    background: $bg-orange;
    color: #fff;
    width: 100%;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.25) !important;
}
.clearfix:after{
    clear: both;
    content: '';
    display: table;
}

/*================HEADER=================*/
.navbar {
    background: $bg-dark-blue !important;
}
.navbar-brand{
        width: auto;
}
.pd-fix{
    padding-top: 3.5rem;
}
 









/*================GLOBAL RESPONSIVE=================*/
@media all and (max-width:768px){
    .social-nav{
        position: absolute;
        right: 75px;
        top: 8px;
    }
    .navbar-brand{
        width: auto;
    }
    .navbar-toggler {
     font-size: 18px;
    }
}