@import "variables.scss";
@import "mixins.scss";
@import "global.scss";

/*===============RESPONSIVE CODE================*/
@media all and (max-width:1024px) {

    .titile-time {
        // width: 35%;
    }

    h1 {
        font-size: 20px;
    }

    .entry-fill span:first-child {
        display: inline-block;
        width: 74px;
    }
}

/*=====================TAb======================*/
@media all and (max-width:1023px) {
    body {
        font-size: 14px;
    }

    h2 {
        font-size: 16px;
    }

    h1 {
        font-size: 18px;
    }

    .entry-fill span:first-child {
        display: inline-block;
        width: 74px;
    }

    .navbar-brand {
        width: 20%;
        max-width: 35px;
    }

    .entry-fill,
    .top-right {
        font-size: 12px;
    }

    .c-card h2 {
        font-size: 15px;
        font-weight: 500;
    }

    .right-listing li img {
        width: 22px;
    }

    .que-content {
        font-size: 18px;
    }

    .que-type-list li {
        font-weight: 500;
        width: 100%;
        margin-bottom: 1px;
    }

    .que-viewport {
        -webkit-flex: 1 0 300px;
        -moz-flex: 1 0 300px;
        -ms-flex: 1 0 300px;
        -o-flex: 1 0 300px;
        flex: 1 0 300px;
    }

    .c-btn {
        font-size: 13px;
        padding: 4px 8px;

    }

    .btn-wrapper .btn {
        margin-right: 3px;
    }

    .que-option {
        padding-left: 1rem;
    }
}

/*=====================MOBILE=========================*/
/*=====================TAb======================*/
@media all and (max-width:767px) {
    body {
        font-size: 13px;
    }

    .navbar-brand {
        max-width: 28px;
    }

    .navbar {
        padding: 2px 10px 2px 10px;
    }

    .que-type-list li {
        font-size: 13px;
    }

    .que-type-list li:first-child span {
        width: 22px;
        height: 22px;
        padding: 3px;
    }

    .que-viewport {
        -webkit-flex: 1 0 215px;
        -moz-flex: 1 0 215px;
        -ms-flex: 1 0 215px;
        -o-flex: 1 0 215px;
        flex: 1 0 215px;

    }

    .top-right {
        display: none;
    }

    .mb-top-right {
        width: 100%;
        display: block;
        margin-bottom: 3px;
    }

    .titile-time {
        width: 50%;
    }

    .btn-wrapper .btn {
        margin-right: 3px;
        margin-bottom: 5px;
    }

    .question {
        margin-top: 5px;
    }
}

/*=====================MOBILE=========================*/
/*=====================TAb======================*/
@media all and (max-width:559px) {
    .que-viewport {
        max-width: 80%;
        position: fixed;
        top: 0;
        left: 100%;
        height: 100vh;
        overflow: auto;
        -webkit-flex: 1 0 215px;
        -moz-flex: 1 0 215px;
        -ms-flex: 1 0 215px;
        -o-flex: 1 0 215px;
        flex: 1 0 215px;
        @include shadow(0 0 50px 300px rgba(0, 0, 0, 0.5));
    }

    .q-con-wrapper {
        min-height: 300px;
        -webkit-flex: 1 1 100%;
        -moz-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        -o-flex: 1 1 100%;
        flex: 1 1 100%;
        position: relative;
        padding-bottom: 30px;
    }

    .btn-slide {
        width: 50px;
        text-align: center;
        height: 30px;
        display: block;
        background: transparent;
        border: none;
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-size: 22px;
    }

    .navbar-brand {
        margin-right: 10px;
    }

    .entry-fill {
        width: 75%;
    }

    .titile-time {
        position: absolute;
        top: 58px;
        left: 0;
        width: 100%;
        padding: 2px;
        border: 1px solid #8fbdd4;
        border-width: 1px 0;
    }

    .mb-top-right {
        display: block;
    }

    #header {
        padding-bottom: 25px;
    }

    .content {
        padding-top: 5px;
    }

    .que-content {
        font-size: 16px;
    }

    .c-card h2 {
        font-size: 14px;
    }

    .right-listing li img {
        width: 18px;
    }

    .right-listing .language {
        padding: 1px 8px;
    }

    .que-counter {
        padding: 2px 2px 2px 10px;
        margin-top: 2px;
    }

    .que-option {
        padding-left: 0.5rem;
    }
}