@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/global.scss";
/*===============STYLE CODE================*/

.breadcrumb-item {
    color: #0a0a0a;

    a {
        color: #666;
    }
}



.card-body-icon {
    position: absolute;
}

.card-body .dropdown {
    max-width: 200px;
}

.sidebar.navbar-nav {
    .nav-item {
        text-align: left;
        overflow: auto;
    }

    .nav-link {
        display: inline-block;
        width: auto;

    }

    .badge {
        float: right;
        margin-top: 22px;
        margin-right: 12px;
    }

}
.sidebar-toggled{
    .sidebar.navbar-nav .badge{
        float: none;
        margin: 0 auto;
     }
    .sidebar .nav-item{
        text-align: center;
    }
}
.nav-tabs .nav-link {
    color: #333;

    &.active {
        background: #666;
        color: #ffff;
    }
}

.bd-5 {
    border-bottom: 5px solid #ddd;
}
.nav-tabs{
    .nav-link{
        text-transform: uppercase;
    }
}
        .right{
           color:green;
            font-size:30px;
            text-align:center;
        }
        .wrong{
            color:red; 
            font-size:30px;
            text-align:center;
        }
        th { 
            text-align:center;
        }    
        .popup-content{
            display: none;
            max-width: 350px;
            max-height: 350px;
            min-height: 100px;
            min-width: 100px;
            background: #f5f7fb;
             position: absolute;
            margin-top: 5px;
            padding-right: 25px;
          }
        
.popup-content:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #f5f7fb;
    border: 1px solid #d6d8db;
    border-width: 1px 0 0 1px;
    transform: rotate(45deg);
     top: -8px;
    left: 25px;
 }
















/*===============================================*/