@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/global.scss";
  /*===============STYLE CODE================*/





.card-body-icon {
    position: absolute;
}

.card-body .dropdown {
    max-width: 200px; 
}

.sidebar.navbar-nav {
    .nav-item {
        text-align: left;
        overflow: auto;
    }
 
    .nav-link {
        display: inline-block;
        width: auto;

    }

    .badge {
        float: right;
        margin-top: 22px;
        margin-right: 12px;
    }

}

.nav-tabs .nav-link {
    color: #333;
    &.active {
        background: #666;
        color: #ffff; 
    }
}
.bd-5{
    border-bottom:5px solid #ddd;
}


















/*===============================================*/